@import url('https://fonts.googleapis.com/css?family=Bellefair');

.fondoHeader{
    position: relative;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.459);
    margin-bottom: 20px;
       
    height: 110px;
}
h1.tituloIns{
    font-size: 40px;
}
.matricula{
    display:block;
    float: left;
    width: 170px;
    height: 60px;
    padding: 10px;
    margin: 15px 5px; 
    background: red;
    border-radius:8px; 
    font-size: 24px;
}
.tituloHeader{
    width: 100%;
    background: red;
    font-size: 40px;
    margin-bottom: 20px;
}
.linea{
    display: inline-block;
}
.img{
    width: 20%;
}
.mid{
    margin: 0px auto;
    display: table;
    height: 100%;
}
.cntt{
    display: table-cell;
	vertical-align: middle;
    
}

.logo{
    position: absolute;
    left: 150px;
    margin-top: -40px;
}
.title{
    width: 100%;
}
.tituloIns{
    margin: 0px;
    font-family: 'Bellefair', serif;
}
.bloque{
    /* position: relative;
    top: 60px;
    left: 28px; */
    
    margin: auto;
}
.bloqueimg{
    /* position: relative;
    top: 50px; */
    margin-top: 35px;
}

.registro{
    display:block;
    float: left;
    width: 170px;
    height: 60px;
    padding: 10px;
    margin: 15px 5px; 
    border-radius:8px; 
    font-size: 20px;
}

.centers{
    margin: auto;
}
.textCenter{
    text-align: center;
}
.campoLn{
    
    margin-bottom: 20px;
    
}

.fontBlack{
    color: black;
}
.enlinea{
    display: inline;
}
.datos{
    clear:left;
    margin-top: 15px;
    
}
.titulo{
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    background: red;
    width: max-content;
    padding: 5px 1.5em;
}
.degra{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f92727+0,f48b8b+6,f91717+25,ee1018+100 */
background: rgb(249,39,39); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,39,39,1) 0%, rgba(244,139,139,1) 6%, rgba(249,23,23,1) 25%, rgba(238,16,24,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,39,39,1) 0%,rgba(244,139,139,1) 6%,rgba(249,23,23,1) 25%,rgba(238,16,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,39,39,1) 0%,rgba(244,139,139,1) 6%,rgba(249,23,23,1) 25%,rgba(238,16,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f92727', endColorstr='#ee1018',GradientType=0 ); /* IE6-9 */}
.campo{
    border-radius: 8px;
    text-align: center;
    background: rgba(207, 216, 223, 0.603);
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-size: 20px;
}
.fondo{
    background: rgba(207, 216, 223, 0.603);
    font-size: 30px;
    vertical-align: middle;
}

.tituloES{
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    background: red;
    width: max-content;
    padding: 5px 1.5em;
    font-size: 16px;
}
.campoES{
    border-radius: 8px;
    text-align: center;
    background: rgba(207, 216, 223, 0.603);
    width: 100%;
    margin: 0px;
    font-size: 20px;
}
.campos{
    width: 400px;
}

.casilla{
    margin: 0px;
    display: block;
}
.container{
    width: 90%;

}
.containertotal{
    width: 100%;

}
.center{
    margin: 0px  auto;
    padding: 20px;
}
.ancho60{
    display: block;
    float: left;
    width: 60%;

}
.ancho40{
    display: block;
    float: left;
    width: 30%;

}
.ancho50{
    width: 50%;

}
header{
    width: 100%;
    height: 160px;
}
.fullHeight{
    height: 100%;
}
h3{
    font-size: 1em;
}
.foot{
clear: left;
}
@media only screen and (max-width:950px ) {
    .ancho60{
        clear: left;
        width: 100%;
    
    }
    .ancho40{
        clear: left;
        width:100%;
    
    }
    .campos{
        width: 250px;
    }
    .logo{
        left: 74px;
        margin-top: -47px;
        width: 148px;
        height: 166px;
    
    }
    .campoLn{
    
        margin-left: auto;
        margin-right: auto;
        
        
    }
}