<div class="container">
	<div class="config">	
	<header>
		<h1 class="titulo">CONFIGURACIONES</h1>
		<div class="encabezado">
		</div>
	</header>
	<nav>
      <li>
        <ul>
          <a routerLink="">
            <img src="./assets/img/config_100px.png">
          </a>
        </ul>
      </li>
    </nav>
    <main>
    	<div class="contenedorAjustes">
	    	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		      <div class="form-group">
		        <div>
			        <label for="fondo"  class="custom btn-file-input" >
			        	<input type="file" id="fondo" name="fondo" (change)="onFileChange($event)" #fileInput>
			        	
			        	<img src="assets/img/Upload.png">
			        </label>
			        <div *ngIf="fileArchivo" class="nameFile">{{fileArchivo.name}}</div>
			        <label class="custom cambio">
			          	<button type="submit" class="accent" > Cambiar </button>
			        </label>
		        </div>

		        
		        <button type="button" class="restaurar" (click)="restaurar()"> Restaurar predeterminado</button>
		        

		      </div>
		    </form>
<!--     		<div>
    			
		        <label class="custom">
		          	<button type="button" color="accent" (click)="getPuertos()"  > Puertos </button>
		        </label>
    		</div> -->
    	</div>
    </main>
	</div>

</div>

